h1 {
  color: rgb(8, 6, 6);
}
body {
  background-image: url("../public/to.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100wh;
  text-align: center;
}

#header {
  width: 450px;
  background-color: rgba(110, 184, 220, 0.8);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

#task-list {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(110, 184, 220, 0.8);
}

li button {
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  margin: 0;
  font-size: 14px;
}

li button:hover {
  background-color: #2980b9;
}

button:hover {
  background-color: #2980b9;
}

label {
  font-size: 20px;
  color: white;
}
