body {
  font-family: Arial, sans-serif;
  padding: 0px;
  border: 0px;
  background-image: url("./assign.gif");
  background-repeat: no-repeat;
  padding: 40px;
  text-align: center;

  background-size: cover;
}

h1 {
  color: #f0e9e9;
  text-align: center;
}

h2 {
  text-align: center;
  color: #f0e9e9;
}

table {
  width: 100%;

  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: rgb(60, 71, 60);
  color: white;
  padding: 8px;
  text-align: left;
  text-align: center;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
