body {
  font-family: Arial, sans-serif;
  padding: 0px;
  border: 0px;
  background-color: rgb(146, 200, 146);
}

h1 {
  color: #333;
  text-align: center;
}

h2 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: rgb(60, 71, 60);
  color: white;
  padding: 8px;
  text-align: left;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
