body {
  background-color: #343d33;
  padding: 120px;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: Libre Baskerville;
  font-size: 45px;
  font-weight: 400;
  margin: 0px;
}
.main {
  display: flex;
}
.text {
  padding: 5px;
  color: white;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  margin-left: 70px;
}
p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
button {
  background-color: #343d33;
  border: 1px solid white;
  padding: 20px;
  color: white;
}
.plant {
  position: fixed;
  right: 0px;
  bottom: 0px;
}
.seats {
  display: none;
}
.seat {
  margin-top: 50px;
}

@media only screen and (max-width: 575px) {
  body {
    padding: 0px;
  }
  .main {
    display: block;
  }

  .seat {
    display: none;
  }
  .seats {
    display: flex;
  }
  .text {
    width: 100% !important;
    text-align: center;
  }
}
@media only screen and (max-width: 1024px) {
  img {
    width: 100%;
  }
  .main {
    display: block;
  }
  .seat {
    display: none;
  }
  .seats {
    margin-top: 20px;
    display: flex;
    margin-bottom: 10px;
  }
  .text {
    width: 75%;
    margin: 0px;
    padding: 0px;
  }
}
